<!--INDEX.EJS-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- titulo %></title>
</head>
<style>
    /* Estilos generales */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .contMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 20px;
        background-color: yellow;
        align-items: center;
    }

    
    /* Estilos para el encabezado */
    .encabezado {
        text-align: center;
        padding-bottom: 20px;
        background-color: cyan;   
    }

    .encabezado .titulo {
        margin-bottom: 10px;  
    }

    img{
        width: 50%;
    }

    /* Estilos para el menú de navegación */
    .barrabusqueda {
        text-align: center;
        padding: 2%;
        background-color: rgb(46, 43, 43);
    }

    .barrabusqueda a {
        margin-right: 20px;
        text-decoration: none;
        color: white;
    }

    .barrabusqueda a:hover {
        color: rgb(202, 187, 187);
    }

    /* Estilos para el footer */
    footer {
        text-align: center;
        padding: 10px 0;
        background-color: indianred;
    }


    /*Estilos de la pagina*/
    .acercade {
        text-align: center;
        margin-bottom: 20px;
    }

    .parrafos {
        margin-bottom: 15px;
        line-height: 1.6;
        font-size: 17px;
        /* Espacio entre líneas */
    }

    .parrafos:last-child {
        margin-bottom: 0;
    }
</style>

<body>
    <!--Incluimos el header y el nav-->
    <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>

            <div class="contMain">
                <h2 class="acercade">
                    <p class="parrafos">"ElectroLuz S.A. es una empresa líder en el sector energético, dedicada a la
                        generación, distribución y comercialización de electricidad en la región. Fundada en 1985, ha
                        crecido hasta convertirse en una de las principales proveedoras de energía en el país,
                        atendiendo a millones de clientes residenciales, comerciales e industriales</p>
                    <p class="parrafos">Con un enfoque en la innovación y la sostenibilidad, ElectroLuz S.A. ha
                        implementado tecnologías avanzadas para mejorar la eficiencia energética y reducir las emisiones
                        de carbono. Además, la compañía se ha comprometido con el desarrollo de fuentes de energía
                        renovable, invirtiendo en proyectos eólicos, solares e hidroeléctricos para diversificar su
                        cartera y promover la transición hacia una matriz energética más limpia.</p>
            </div>


            <%- include('partials/footer.ejs') %>

</body>

</html>