<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- titulo %>
    </title>
</head>
<style>
    /* Estilos generales */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .contMain {
        padding: 2%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: yellow;
        align-items: center;
    }

    
    /* Estilos para el encabezado */
    .encabezado {
        text-align: center;
        padding-bottom: 20px;
        background-color: cyan;   
    }

    .encabezado .titulo {
        margin-bottom: 10px;
    }

    img{
        width: 50%;
    }

    /* Estilos para el menú de navegación */
    .barrabusqueda {
        text-align: center;
        padding: 2%;
        background-color: rgb(46, 43, 43);
    }

    .barrabusqueda a {
        margin-right: 20px;
        text-decoration: none;
        color: white;
    }

    .barrabusqueda a:hover {
        color: rgb(202, 187, 187);
    }

    /* Estilos para el footer */
    footer {
        text-align: center;
        padding: 10px 0;
        background-color: indianred;
    }

    /* ESTILOS FORMULARIOS*/
    .contForm {
        margin: 0 auto;
        padding: 5px;
        background-color: yellow;
    }
    form{
        width: 50%;
    }

    .contForm label {
        display: block;
        margin-bottom: 5px;
    }

    .contForm input[type="text"],
    .contForm input[type="number"],
    .contForm select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .btnForm {
        text-align: center;
    }

    .btnForm button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 10px;
    }

    .btnForm button a {
        color: #fff;
        text-decoration: none;
    }

    .tabla {
        width: 60%;
        border-collapse: collapse;
        padding: 5px;
    }

    .tabla th,
    .tabla td {
        padding: 10px;
        border: 1px solid black;
        text-align: left;
    }

    .tabla th {
        background-color: #f2f2f2;
    }

    .tabla tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<body>
    <!--Incluimos el header y el nav-->
    <%- include('partials/header.ejs') %>
        <%- include('partials/nav.ejs') %>

            <div class="contMain">
                <% if(!isPost){ %>
                    <form action="/pago" method="post">
                        <div class="contForm">
                            <label for="numero">Numero Recibo:</label>
                            <input type="number" id="numero" name="numero" required>
                        </div>
                        <div class="contForm">
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" name="nombre" required>
                        </div>
                        <div class="contForm">
                            <label for="domicilio">Domicilio:</label>
                            <input type="text" id="domicilio" name="domicilio" required>
                        </div>
                        <div class="contForm">
                            <label for="servicio">Tipo de Servicio:</label>
                            <select name="servicio" id="servicio">
                                <option value="0">Domestico</option>
                                <option value="1">Comercial</option>
                                <option value="2">Industrial</option>
                            </select>
                        </div>
                        <div class="contForm">
                            <label for="kwConsumidos">Kilowatts Consumidos:</label>
                            <input type="text" id="kwConsumidos" name="kwConsumidos" required>
                        </div>
                        <!--Contenedores de los botones-->
                        <div class="btnForm">
                            <button id="btnEnviar" type="submit">Enviar Informacion</button>
                            <button id="btnLimpiar" type="reset">Limpiar</button>
                        </div>
                    </form>

                    <%} else{ %>
                        <table class="tabla">
                            <thead>
                                <tr>
                                    <th scope="col">Número</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Tipo de servicio</th>
                                    <th scope="col">Kiowatts Consumidos</th>
                                    <th scope="col">Costo por Kiowatts</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <%= numero %>
                                    </td>
                                    <td>
                                        <%= nombre %>
                                    </td>
                                    <td>
                                        <%= servicio %>
                                    </td>
                                    <td>
                                        <%= kwConsumidos %>
                                    </td>
                                    <td>
                                        <%= precioKw %>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Subtotal:</td>
                                    <td>
                                        <%= subtotal %>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Impuesto:</td>
                                    <td>
                                        <%= impuesto %>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Descuento:</td>
                                    <td>
                                        <%= descuento %>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Total a pagar:</td>
                                    <td>
                                        <%= total %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <% } %>
            </div>
            <%- include('partials/footer.ejs') %>
</body>

</html>